 .section-padding {
    padding: 100px 0;
} 

 .corousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
  }

.carousel-caption h5 {
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}  

 

 .w-100{
    height: 100vh;
}
   

    @media only screen and (max-width: 767px) {
      .carousel-caption h5{
          font-size: 17px;
      }
      .carousel-caption a{
          padding: 10px 15px;
      }
      .carousel-caption p{
          width: 100%;
          line-height: 1.6;
          font-size: 12px;
      }

      .h2{
        font-size: 25px;
   }

   .single-service{
       margin-bottom: 20px;
       padding: 40px;
   }

   .single-service:hover{
       font-size: 100px;
   }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 991px){
       .carousel-caption{
          bottom: 370px;
       }
       .carousel-caption p{
          width: 100%;
       }
  }



    